.home {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    overflow-x: hidden;
    gap: var(--space-7);

    @media (min-width: 768px) {
        gap: var(--space-8);
    }
    @media (min-width: 1024px) {
        gap: calc(var(--space-8) * 1.4);
    }

    > * {
        width: 100%;
    }
}
