@import "@styles/variables.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Nunito", serif;
    font-weight: 400;
    font-style: normal;

    height: 100vh;
    position: relative;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
    :root {
        background-color: var(--gray-dark-theme);
        color: var(--palegray-light-theme);
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--almostwhite-dark-theme);
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--offwhite-dark-theme);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        background-color: var(--palegray-light-theme);
        color: var(--gray-dark-theme);
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--gray-light-theme);
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--darkblue-light-theme);
    }
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
}

/* cinzel-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Cinzel";
    font-style: normal;
    font-weight: 400;
    src: url("@assets/fonts/cinzel-v25-latin/cinzel-v25-latin-regular.woff2")
        format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* cinzel-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Cinzel";
    font-style: normal;
    font-weight: 700;
    src: url("@assets/fonts/cinzel-v25-latin/cinzel-v25-latin-700.woff2")
        format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* cinzel-900 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Cinzel";
    font-style: normal;
    font-weight: 900;
    src: url("@assets/fonts/cinzel-v25-latin/cinzel-v25-latin-900.woff2")
        format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nunito-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: url("@assets/fonts/nunito-v31-latin/nunito-v31-latin-regular.woff2")
        format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    src: url("@assets/fonts/nunito-v31-latin/nunito-v31-latin-700.woff2")
        format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-900italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Nunito";
    font-style: italic;
    font-weight: 900;
    src: url("@assets/fonts/nunito-v31-latin/nunito-v31-latin-900italic.woff2")
        format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* playfair-display-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    src: url("@assets/fonts/playfair-display-v39-latin/playfair-display-v39-latin-regular.woff2")
        format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* playfair-display-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 700;
    src: url("@assets/fonts/playfair-display-v39-latin/playfair-display-v39-latin-700.woff2")
        format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* playfair-display-900 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 900;
    src: url("@assets/fonts/playfair-display-v39-latin/playfair-display-v39-latin-900.woff2")
        format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
